.ju367v9c {
  background: linear-gradient(
    95.24deg,
    #7c0f35 7.59%,
    #581266 104.01%
  ) !important;
  padding: 15px 30px !important;
  height: 50px !important;
}
@media only screen and (max-width: 600px) {
  .ju367v9c {
    background: linear-gradient(
      95.24deg,
      #7c0f35 7.59%,
      #581266 104.01%
    ) !important;
    padding: 5px 20px !important;
    height: 40px !important;
  }
}
