.card {
  background: #390554;
  border-radius: 10px;
  width: 250px;
  height: 180px;
  position: relative;
  padding: 20px;
}
.card-title {
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.card-info {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: -10px;
}
.card-info-item {
  display: flex;
  justify-content: flex-start;
  padding: 5px 0;
  text-transform: capitalize;
}
.card-item-label {
  color: #f5f5f5;
  flex: 6;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.card-item-value {
  color: #f5f5f5;
  flex: 6;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

  overflow-x: hidden;
}
.card-icon {
  background: #960252;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 200px;
  }
}
